<nav class="flex justify-between">
  <div class="ml-[6vw] py-4">
    <a href="/" class="text-2xl">
      <img src="/logo.png" alt="" class="w-[8vw]">
    </a>
  </div>
  <ul class="flex w-[25vw] justify-between text-lg mr-[10vw] py-5 font-bold">
    <li><a href="/about">Tentang Kami</a></li>
    <li><a href="/sell">Penjualan</a></li>
    <li><a href="/sell/create">Buat</a></li>
  </ul>
</nav>
<div class="border-b-2 border-[#202023] ml-[4.7vw] w-[90.7vw]"></div>

<!-- 202023 -->