<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="bg-gray-100 overflow-x-hidden">
    <%- include('./partials/navbar.ejs') %>

    <div class="container mx-auto p-4">
      <div class="bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold mb-4">About</h2>
        <p class="mb-4">
          Fitur-fitur unggulan Laju mencakup:
        </p>
        <ul class="list-disc list-inside mb-4">
          <li>Pencatatan Penjualan yang Efisien: Tidak perlu lagi repot dengan dokumen fisik atau spreadsheet rumit. Laju menyediakan antarmuka yang sederhana namun kuat untuk mencatat dan melacak setiap transaksi penjualan Anda.</li>
          <li>Analisis Data yang Mendalam: Laju memberikan wawasan yang mendalam melalui visualisasi data yang interaktif. Identifikasi tren penjualan, analisis kinerja produk, dan pelacakan performa tim penjualan hanya dalam beberapa klik.</li>
          <li>Manajemen Inventori yang Terpadu: Selain data penjualan, Laju juga membantu Anda mengelola inventori dengan mudah. Pantau persediaan, lakukan penyesuaian, dan tetap up-to-date dengan status stok produk Anda.</li>
          <li>Keamanan dan Privasi Data yang Tinggi: Kami mengutamakan keamanan data Anda. Laju menggunakan langkah-langkah keamanan terbaik untuk melindungi informasi sensitif Anda dan menjaga kerahasiaan bisnis Anda.</li>
          <li>Dukungan Pelanggan yang Handal: Tim dukungan pelanggan kami siap membantu Anda setiap saat. Apakah Anda memiliki pertanyaan, masalah, atau membutuhkan bantuan, kami akan dengan senang hati memberikan solusi yang tepat untuk kebutuhan Anda.</li>
        </ul>
        <p class="mb-4">
          Kami berkomitmen untuk memberikan pengalaman pengelolaan data penjualan yang terbaik melalui website Laju. Bergabunglah dengan kami sekarang dan rasakan keuntungan dari pengelolaan data penjualan yang efisien, akurat, dan terpercaya.
        </p>
        <p class="mb-4">
          Jadi, jangan ragu lagi! Mulailah menggunakan Laju sekarang juga dan tingkatkan potensi bisnis Anda dengan pengelolaan data penjualan yang canggih dan efektif.
        </p>
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
