<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body class="bg-gray-100 overflow-x-hidden">
    <%- include('./partials/navbar.ejs') %>

    <div class="container mx-auto p-5">
      <h2 class="text-2xl font-bold mb-4">Buat Laporan Penjualan</h2>
      <form
        action="/sell"
        method="POST"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      >
        <div class="mb-4">
          <label for="title" class="block text-gray-700 text-sm font-bold mb-2"
            >Judul:</label
          >
          <input
            type="text"
            id="title"
            name="title"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-4">
          <label
            for="content"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Deskripsi:</label
          >
          <input
            type="text"
            id="content"
            name="content"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div class="mb-6">
          <label
            for="content2"
            class="block text-gray-700 text-sm font-bold mb-2"
            >Persediaan:</label
          >
          <textarea
            id="content2"
            name="content2"
            required
            class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          ></textarea>
        </div>
        <div class="flex items-center justify-center">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Submit
          </button>
        </div>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
